<div class="page-header">
	<h1>Projects</h1>
</div>
<div class="table_wrapper">
	<table class="table table-bordered table-striped datatable">
	<thead>
		<tr>
		<th  class="sortable normal_column">Name</th>
		<th  class="sortable normal_column">Description</th>
		<th  class="sortable normal_column">Project ID</th>
		<th  class="sortable normal_column">Status</th>
		<th  class="sortable normal_column">Requestor</th>
		<th  class="normal_column">Action</th>
		</tr>
	</thead>
	<tbody>
	<% data.each do |app| %>
		<tr>
			<td class="sortable normal_column"><%=app[:project]%></td>
			<td class="sortable normal_column"><%=app[:description]%></td>
			<td class="sortable normal_column"><%=app[:id]%></td>
			<td class="status_up sortable normal_column"><%=app[:state]%></td>
			<td class="sortable normal_column"><%=app[:email]%></td>
			<td class="normal_column">
				<% link = "/v1/applications/#{app[:id]}" 
					link += "?review=true" if mark && mark[:review] %>
				<a href="<%=link%>" class="btn btn-small">View</a>
			</td>
		</tr>
	<% end %>
	</tbody>
	<tfoot>
      
      <tr>
        <td colspan="6">
          <span class="table_count">Displaying <%=data.size%> items</span>     
        </td>
      </tr>
    </tfoot>
	</table>
</div>