From: <%= mail[:from]%>
To: <%= mail[:to].kind_of?(Array)? mail[:to].join(";") : mail[:to]%>
Subject: Refused resource request for project <%= info[:app_info].project %>

Dear User from <%= info[:app_info].email %> :
	Your resource request for project <%= info[:app_info].project %> has been refused at <%= info[:app_info].created_at %>.
	Your application id is <%= info[:app_info].id%>.
	The comment is :
		<%= info[:app_info].comments %>
	
	You can browse your application from <a href="<%= info[:application_link]%>"><%= info[:application_link]%></a>.
	You can browse all your applications from <a href="<%= info[:applications_link]%>"><%= info[:applications_link]%></a>

	Thanks!
	OCP registry

(This email is auto-sent by system, please don't reply this mail)